/*** VARIABLES ***/
:root {
  --font-main: 'Montserrat';
  --font-second: "Open Sans";
  --color-text-main: #60606e;
  --color-decor: #7beec7;
}

/*** FONTS ***/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

/*** COMMON ***/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  border: 1px solid;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-start {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.link {
  text-decoration: none;
  color: inherit;
}


html,
body {
  height: 100%;
}

body {
  color: var(--color-text-main);
  font-family: var(--font-main);
}

/*** HEADER ***/
.header {
  height: 500px;
  background-image: url(./assets/images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.header__column {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__menu__btn {
  position: relative;
  width: 31px;
  height: 15px;
}

.header__menu__btn > span,
.header__menu__btn > span::before,
.header__menu__btn > span::after{
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--color-text-main);
}

.header__menu__btn > span {
  width: 15px;
}

.header__menu__btn > span::before {
  content: '';
  top: -7px;
  width: 31px;
}

.header__menu__btn > span::after {
  content: '';
  top: 7px;
  width: 23px;
}

.header__title {
  margin-top: 38px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.header__nav__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; 
}

/*** MAIN ***/
.block {
  position: relative;
}

.block__decor {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 70px;
  height: 20px;
  background-color: var(--color-decor);
}

.section__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.section__title__text {
  margin-bottom: 88px;
  max-width: 720px;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-second);
  text-align: center;
}

/* we-do */
.we-do__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 136px;
  padding-bottom: 75px;
}

.we-do__content {
  display: flex;
  column-gap: 40px;
}

.we-do__content__text {
  margin-bottom: 33px;
  font-family: var(--font-second);
  font-size: 16px;
  line-height: 30px;
}

.we-do__content__list {
  column-count: 2;
  list-style-type: none;
  font-family: var(--font-second);
  font-size: 16px;
  line-height: 30px;
}



.we-do__content__img {
  width: 100%;
  max-width: 554px;
  height: 364px;
  margin-top: 10px;
}
/*** FOOTER ***/