/*** VARIABLES ***/
:root {
  --font-main: 'Montserrat';
  --font-second: "Open Sans";
  --color-text-main: #60606e;
  --color-text-second: #ffffff;
  --color-decor: #7beec7;
}

/*** FONTS ***/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

/*** COMMON ***/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  width: 100%;
  max-width: 1300px;
  height: 100%;
}

.title_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-start {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.link {
  text-decoration: none;
  color: inherit;
}


html,
body {
  height: 100%;
}

body {
  color: var(--color-text-main);
  font-family: var(--font-main);
}

/*** HEADER ***/
.header {
  height: 500px;
  background-image: url(./assets/images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.header__column {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__btn {
  position: relative;
  width: 31px;
  height: 15px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--color-text-main);
}

.menu__btn > span {
  width: 15px;
}

.menu__btn > span::before {
  content: '';
  top: -7px;
  width: 31px;
}

.menu__btn > span::after {
  content: '';
  top: 7px;
  width: 23px;
}

.header__title {
  margin-top: 38px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.header__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; 
}

/*** MAIN ***/
.block {
  position: relative;
}

.block__decor {
  z-index: -1;
  position: absolute;
  top: 40%;
  left: 0%;
  width: 68px;
  height: 21px;
  background-color: var(--color-decor);
}

.section__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.section__text {
  margin-bottom: 88px;
  max-width: 720px;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--font-second);
  text-align: center;
}

/* we-do */
.we-do__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 136px;
  padding-bottom: 155px;
}

.we-do__content {
  display: flex;
  column-gap: 40px;
}

.we-do__text {
  margin-bottom: 33px;
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 30px;
}

.we-do__list {
  column-count: 2;
  column-gap: 40px;
  list-style-type: none;
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 30px;
}

.we-do__img {
  width: 100%;
  max-width: 554px;
  height: 364px;
  margin-top: 10px;
}

/* benefits */
.benefits__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
}

.benefit__block {
  width: 53px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefit:first-child > .benefit__block {
  background-image: url(./assets/icons/1.png);
}

.benefit:nth-child(2) > .benefit__block {
  background-image: url(./assets/icons/2.png);
}

.benefit:nth-child(3) > .benefit__block {
  background-image: url(./assets/icons/3.png);
}

.benefit:last-child > .benefit__block {
  background-image: url(./assets/icons/4.png);
}


.benefit__decor {
  z-index: -1;
  position: absolute;
  top: 60%;
  left: -5px;
  width: 51px;
  height: 21px;
  background-color: var(--color-decor);
}

.benefit__title {
  padding-top: 25px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.benefit__text {
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

/* pricing */
.pricing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 150px;
}

.cards {
  display: flex;
  column-gap: 30px;
  margin-top: 9px;
}

.card {
  position: relative;
  padding: 18px 20px 40px 30px;
  width: 360px;
  height: 490px;
  border-top: 6px solid var(--color-decor);
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0px 0px 20px 5px #e2dfdf;
}

.card__title {
  margin-bottom: 3px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 39px;
  width: 165px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--color-text-second);
  background-color: var(--color-decor);
}

.card__list {
  margin-bottom: 39px;
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 36px;
  list-style-type: none;
}

.card__btn {
  width: 135px;
  height: 51px;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-text-second);
  background-color: var(--color-decor);
}

.card__btn:hover {
  box-shadow: inset 0px 0px 10px 5px #e2dfdf;
}

.triangle {
  position: absolute;
  top: -6px;
  right: 0;
  width: 0; 
  height: 0;
  border-top: 15px solid var(--color-decor);
  border-left: 15px solid transparent;
}

/* newsletter */
.newsletter {
  height: 330px;
  background-color: var(--color-decor);
}

.newsletter__container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 49px;
}

.touch__text {
  margin-bottom: 14px;
  width: 500px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--color-text-second);
}

.touch__btn {
  width: 165px;
  height: 50px;
  text-transform: uppercase;
  color: var(--color-decor);
  background-color: var(--color-text-second);
}

.letter {
  width: 100%;
  max-width: 555px;
  margin-top: 10px;
  padding: 10px 25px;
  background-color: var(--color-text-second);
}

.letter__title {
  margin-bottom: 5px;
  width: 100%;
  max-width: 350px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.letter__text {
  margin-bottom: 28px;
  width: 100%;
  max-width: 475px;
  font-family: var(--font-second);
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.letter__input {
  width: 100%;
  position: relative;
}

.letter__input > input {
  height: 51px;
  width: 100%;
  padding: 22px 140px 20px 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  border: 1px solid #cac8c8;
  outline: none;
  text-transform: uppercase;
}

.letter__input > input:focus {
  border: 1px solid #cac8c8;
}

.letter__input > input::placeholder {
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  color: #cdcdcd;
  text-transform: uppercase;
}

.letter__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 51px;
  color: var(--color-text-second);
  background-color: var(--color-decor);
  text-transform: uppercase;
}

/*** FOOTER ***/
.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding-top: 30px;
  height: 155px;
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 48px;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 574px;
}

.footer__link,
.footer__text {
  text-transform: uppercase;
}

.social-links {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  cursor: pointer;
  transition: 0.2s;
}

.social-links > img:hover {
  transform: scale(1.3);
}
